In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from IPython.display import Image
import pydotplus
makes the from sklearn.metrics import accuracy_score

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [4]:
def create_features(df):
    num_features = df[['Age', 'Fare']]
    num_features['Age'] = num_features['Age'].fillna(num_features['Age'].mean())
    
    return num_features

def get_target(df):
    return df['Survived']

In [25]:
train_features = create_features(train_data)
train_features.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [6]:
target = get_target(train_data)
print(target.head())

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

## ML Model: Decision Tree
* decision trees can split variables by their importance

In [7]:
# create Decision Tree classifier object
clf = tree.DecisionTreeClassifier(max_depth=2)

# train Decision Tree classifier 
clf = clf.fit(train_features, target)

In [ ]:
## DOES NOT WORKKKK

%matplotlib inline
# DOT data
dot_data = tree.export_graphviz(clf, out_file=None, 
                               feature_names=train_features.columns,
                               class_names=['dead', 'survived'])

# Draw graph
graph = pydotplus.graph_from_dot_data(dot_data)  

# Show graph
Image(graph.create_png())

### Model Eval
In order to evaluate the model, we split the train data into an 80/20 split. The 20% of the data is used to test the model.

In [11]:
X_train, X_test, y_train, y_test = train_test_split(train_features, target, 
                                                   test_size=0.2, stratify=target, random_state=42)

In [22]:
clf = tree.DecisionTreeClassifier(max_depth=5)
clf = clf.fit(X_train, y_train)

In [23]:
predictions = clf.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [24]:
accuracy_score(y_test, predictions)

0.659217877094972

### Playing with the ML Model

#### adding more features

In [29]:
# have target and train_features, now want to add sex data
sex_attribute = train_data[['Sex']]
sex_attribute = pd.get_dummies(sex_attribute)

In [31]:
df_ml_features = train_features.join(sex_attribute, how = 'outer')
df_ml_features.head()

    Age     Fare  Sex_female  Sex_male
0  22.0   7.2500           0         1
1  38.0  71.2833           1         0
2  26.0   7.9250           1         0
3  35.0  53.1000           1         0
4  35.0   8.0500           0         1

In [32]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [33]:
# apply Decision Tree Classifier
X_train, X_test, y_train, y_test = train_test_split(df_ml_features, target, test_size=0.2,
                                                    random_state=42)

In [43]:
clf = tree.DecisionTreeClassifier(max_depth=4)
clf = clf.fit(X_train, y_train)

In [44]:
predictions = clf.predict(X_test)
print(predictions[0:5])

[0 0 0 0 1]

In [45]:
accuracy_score(y_test, predictions)

0.776536312849162

#### Result:
ML technique: Decision Tree Classifier

Num features: 3 (Age, Fare, and Gender)

Accuracy: 77.6% at 80/20 split on train data